/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Commons */
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.container-narrow {
  width: 60%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* HEADER */
.upper-header {
  background-color: #0282f9;
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding: 5px 0;
}

.upper-header ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.upper-header li {
  margin-left: 40px;
}

.header-menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header-menu {
  font-weight: bold;
  font-size: 14px;
  color: #464646;
  background-color: white;
}

.header-menu .logo {
  width: 70px;
}

nav {
  height: 100%;
}

.header-menu ul {
  list-style-type: none;
  display: flex;
}

.header-menu li {
  margin: 0 8px;
}

.header-menu a {
  text-decoration: none;
  color: inherit;
}

.header-menu .arrow-down {
  color: #0282f9;
}

.search {
  border-bottom: 2px solid #0282f9;
}

.search input {
  width: 120px;
  height: 30px;
  border: none;
}

.search input::placeholder {
  text-align: right;
  color: #464646;
  font-size: 18px;
}

/* Jumbotron */
.jumbo {
  background-image: url('../img/jumbotron.jpg');
  background-size: cover;
  height: 300px;
}

/* MAIN */
.blue-background {
  display: flex;
  flex-direction: row;
  background-color: #0282f9;
  color: white;
  padding: 40px 0;
}

.blue-content {
  display: flex;
  justify-content: center;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% / 5) - 20px);
}

.blue-background img {
  width: 40px;
}

.buy-text {
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 10px;
}

/* MAIN */
/* Comics */
.comics {
  background-color: #1c1c1c;
  color: white;
  position: relative;
  padding: 50px 0;
}

.comics h2 {
  text-transform: uppercase;
}

.comics .heading {
  display: inline-block;
  background-color: #0282f9;
  padding: 8px 20px;
  position: absolute;
  top: -25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.comics .load-more {
  display: inline-block;
  background-color: #0282f9;
  padding: 8px 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.comics .load-more h4 {
  text-transform: uppercase;
}

.comics .card {
  width: calc(calc(100% / 6) - 30px);
  margin: 15px;
}

.comics .title {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  margin: 10px 0;
}

.card a {
  text-decoration: none;
}

/* Comic */
.comic-top {
  background-color: #0282f9;
  height: 60px;
  position: relative;
}

.cover-frame {
  position: absolute;
  display: flex;
  top: -220px;
  border: 1px solid white;
}

.comic-book,
.view-gallery {
  font-size: 14px;
  background-color: #00a9d9;
  color: white;
  padding: 3px;
}

.comic-book {
  display: inline-block;
  position: absolute;
}

.view-gallery {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.comic-cover {
  width: 170px;
}

.comic-main {
  background-color: white;
  padding: 40px 0;
}

/* FOOTER */